<header class="masthead" style="background-image: url('{{post.image}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>404 page not found </h1>
            <a href="/">return to home page</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  
